

/* Start:/bitrix/templates/ast/styles.css?1620207496592*/
@font-face {
    font-family: 'Roboto Bold';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.content{
    font-family: 'Roboto Regular';
    max-width:1600px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 15px;
}
/* End */
/* /bitrix/templates/ast/styles.css?1620207496592 */
