

/* Start:/bitrix/templates/ast/styles.css?16202107551254*/
@font-face {
    font-family: 'Roboto Bold';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.content{
    font-family: 'Roboto Regular';
    max-width:1600px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.content-menu{
    font-family: 'Roboto Regular';
    max-width:100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header-grid{
    display:grid;
    grid-template-columns: 280px 1fr 1fr 1fr;
    margin-top: 15px;
}

.menu-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: rgba(0,0,0,0.8);
}

.logo-text{
    background: linear-gradient(70deg, #F38E16 14%, #F30808 30%,#F30808 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto Bold';
    font-size:21px;
    letter-spacing: 0.055rem;
    margin-top: 10px;
}
.address{
 font-family: 'Roboto Bold';
 font-size: 21px;
 padding-top: 45px;
 padding-left:40px;
}
/* End */
/* /bitrix/templates/ast/styles.css?16202107551254 */
