

/* Start:/bitrix/templates/ast/components/bitrix/search.page/ast/style.css?1620819167358*/
div.search-tags-chain a {margin:2px;}
div.search-tags-chain a.search-tags-link {color:#333333; font-size:90%; text-decoration:none;color:#535353;}
div.search-tags-cloud a {white-space: normal;}
a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}

/* End */
/* /bitrix/templates/ast/components/bitrix/search.page/ast/style.css?1620819167358 */
