

/* Start:/bitrix/templates/ast/styles.css?1620206050390*/
@font-face {
    font-family: 'Roboto Bold';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.content{
    font-family: 'Roboto Regular';
}
/* End */
/* /bitrix/templates/ast/styles.css?1620206050390 */
