

/* Start:/bitrix/templates/ast/styles.css?162072698013732*/
@font-face {
    font-family: 'Roboto Bold';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Roboto Regular';
}

.hover-orange:hover{
    background: linear-gradient(180deg, #F38E16 0%, #B80B0B 100%);
    color:#FFF;
    border-color:linear-gradient(180deg, #F38E16 0%, #B80B0B 100%) !important;
    transition:all 0.7s ease;
}

.content{
    font-family: 'Roboto Regular';
    max-width:1490px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.content-menu{
    font-family: 'Roboto Regular';
    max-width:100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    height:65px;
    background: rgba(0,0,0,0.8);
}

.content-footer{
    max-width:100%;
    margin: 0 auto;
}

.header-grid{
    display:grid;
    grid-template-columns: 280px 320px 540px 1fr;

    align-items: center;
    gap: 4.4%;
}

.header-grid>div{
    justify-self: center;
}

.menu-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    height:100%;
    gap: 14%;
}

.menu-grid>div{
    white-space:nowrap;
}

.menu-grid>div>a{
  text-decoration: none;
  color:#FFFFFF;
  font-family: 'Roboto Bold';
  font-size: 24px;
  text-transform: uppercase;
}

.menu-grid>div>a:hover{
    color:#F38E16;
    transition:all 0.5s ease;
}


.logo-text{
    background: linear-gradient(70deg, #F38E16 14%, #F30808 30%,#F30808 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto Bold';
    font-size:21px;
    letter-spacing: 0.055rem;
    margin-top: 10px;
}

.address{
 font-family: 'Roboto Bold';
 font-size: 21px;
}

.lk{
    color:#F50707;
    font-family: 'Roboto Bold';
    font-size: 24px;
}

.search-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gray-text{
    color:rgba(0,0,0,0.63);
    font-family: 'Roboto Bold';
    font-size: 18px;
    margin-bottom: 40px;
    margin-top:35px;
    position: relative;
    top:20px;
}

.phones>a{
    font-family: 'Roboto Bold';
    font-size:22px;
    color:#000000;
    text-decoration: none;
}

.phones>a:hover{
    color:#F38E16;
    transition:all 0.5s ease;
}

.lk>span:hover{
    color:#F38E16;
    cursor:pointer;
    transition:all 0.5s ease;
}

.btn-form{
    margin-left:30px;
    width:255px;
    height:55px;
    background: linear-gradient(180deg, #F40808 0%, #B80B0B 100%);
    outline: none !important;
    border-color:#F40808 !important;
    border-radius:10px;
    color:#FFF;
    font-family: 'Roboto Bold';
    font-size: 18px;
    padding-top:12px;
}

.btn-form:hover{
    background: linear-gradient(180deg, #F38E16 0%, #B80B0B 100%);
    color:#FFF;
    border-color:linear-gradient(180deg, #F38E16 0%, #B80B0B 100%) !important;
    transition:all 1s ease;
}

.srch-input{
    margin-top:20px;
    color:rgba(0,0,0,0.54);
    font-size: 14px;
    height:50px;
}
.srch-btn{
    position: relative;
    right: 0px;
    top: -42px;
    left: 80%;
    background: #F38E16;
    border-color: F38E16;
    outline: none !important;
    box-shadow: none;
    border-radius: 5px;
    width: 90px !important;
    height: 26px !important;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px !important;
    min-height: 34px;
}

.srch-btn:hover{
    background: #F50707;
    transition:all 1s ease;
}

.top-block{
    height:116px;
    background:rgba(0,0,0,0.8);
    padding-left: 16px;
    padding-right: 16px;
    padding:20px 0;
}

.footer-grid{
    display: grid;
    grid-template-columns: 555px 1fr;
    gap:6%;
}

.footer-text{
    color:#FFF;
    font-size:21px;
}
.email-input{
    background:rgba(0,0,0,0);
    border:none;
    border-bottom:1px solid rgba(255, 255, 255,0.57);
    border-radius:0px !important;
    color:#fff !important;
    padding-left: 0px;
    width:455px;
    display:inline-block;
    margin-left: 25px;
}

.footer-form label{
    color:#c1c1c1;
    font-size:21px;
    margin-left: 25px;
}

.email-input:active, .email-input:focus{
    background:rgba(0,0,0,0);
    border:none;
    border-bottom:1px solid rgba(255, 255, 255,0.57);
    border-radius:0px !important;
    outline:none !important;
    border-color: rgba(255, 255, 255,0.57);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,0);
}

.email-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
}

.send__email-footer{
    display:inline-block;
    width:235px;
    height:65px;
    margin-left:7%;
    float:right;
    top: -29px;
    position: relative;
    background: linear-gradient(180deg, #F40808 0%, #B80B0B 100%);
    color:#FFF;
    outline: none !important;
    border-color:#F40808 !important;
    font-size:24px;
}

/* .send__email-footer:active{
    outline:none !important;
    border-color: rgba(255, 255, 255,0.57);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,0);
}

.send__email-footer:hover{
    background: #F38E16;
    color:#FFF;
    border-color:#F38E16 !important;
} */

.bottom-block{
    background:rgba(0,0,0,0.63);
    padding-left: 16px;
    padding-right: 16px;
    padding:20px 0;
    min-height:411px;
}

.footer-grid-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:6%;
}
.footer-list{
    padding:0px;
    list-style-type: none;
}

.footer-list li a{
    color:#FFF;
    text-decoration: none;
  
}

.footer-list li{
    margin:8px 0px;
    transition:all 1s ease;
}

.footer-list li a:hover{
    color:#F38E16;
    text-decoration: none;
    transition:all 0.7s ease;
}

.footer-list h3{
    color:#FFF;
}

.footer-grid-bottom>div{
   text-align: center;
}

.bottom-block{
    padding:40px 0px;
}
.footer-list-last{
    text-align:left;
    margin-left:140px;
}

.footer-list-last img{
    margin-right:15px;
}

.footer-list-last li{
    margin:18px 0px;
}

.main-grid{
    display:grid;
    grid-template-columns: 420px 1fr;
    gap:60px;
    margin-top: 30px;
}

.catalog-menu{
    height:457px;
}

.banner{
    height:457px;
}

.catalog-menu ul{
    width:100%;
    list-style-type: none;
    padding:0;
}

.catalog-menu ul li{
    text-align:center;
    padding:10px 5px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    color:#000;
}

.catalog-menu ul li a{
    text-decoration: none;
    color:#000;
    font-size: 18px;
}

.catalog-menu ul li:hover{
    text-decoration: none;
    background-color:#F38E16;
    color:#fff !important;
    cursor:pointer;
    transition:all 0.5s ease;
}

.catalog-menu ul li a:hover{
    text-decoration: none;
    background-color:#F38E16;
    color:#fff !important;
    cursor:pointer;
    transition:all 0.5s ease;
}

.black-header{
    font-family: 'Roboto Bold';
    color:#FFF !important;
    font-size: 21px;
    background: rgba(0,0,0,0.8);
    text-transform: uppercase;
    padding:10px 0;
}

.main-image, .main-image-sec, .main-image-third{
    background:url('/bitrix/templates/ast/images/slider1.jpg') no-repeat 0px -200px;
    width:100%;
    height:100%;
    /* background-size: cover;*/
}

.steklo{
    background: linear-gradient(-45deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.2) 100%);
    width:720px;
    height:221px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 40px;
    padding-left: 43px;
    padding-right: 43px;
    float:right;
    margin-top: 33px;
}

.steklo h3{
    color:#E60909;
    font-family: 'Roboto Bold';
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.steklo p{
    color:#fff;
    font-family: 'Roboto Bold';
    font-size: 20px;
    text-align: justify;
}

.about-wrapper{
    display: grid;
    grid-template-columns: 860px 1fr;
    gap:65px;
}

.about-img{
    background:url('/bitrix/templates/ast/images/aboutmain.jpg') no-repeat;
    background-size: cover;
    height:600px;
}

.header-text{
    display: block;
    width:100%;
    text-align: center;
    font-family: 'Roboto Bold';
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.about-wrapper p{
    font-size: 19px;
}


.popular-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:12%;
}

.popular-grid .product-card-wrap{
   height:106px;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   margin-top: 40px;
}

.popular-grid .product-card-wrap a{
    display:block;
    width:100%;
}

.popular-grid .product-card-wrap .title-name, .popular-grid .product-card-wrap img{
    display:inline-block;
}

.popular-grid .product-card-wrap a{
    color:#000;
    font-size:20px;
    text-decoration: none;
}

.popular-grid .product-card-wrap a:hover{
    color:#F38E16;
    text-decoration: none;
    transition:all 1s ease;
}

.product-card-wrap a{
    text-decoration: none;
    color:#000;
}

.main-prods-container{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}

.catalog-prods-container{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}

.catalog-prods-container .product-card-wrap-popular{
    width:200px;
    height:250px;
    margin-top: 30px;
    padding:10px;
}

.catalog-prods-container .product-card-wrap-popular .open-vac{
    background-color: #EE8912;
    color: #FFF;
    font-size: 14px;
    border: 1px solid #EE8912;
    border-radius: 7px;
    width: 140px;
    height: 39px;
    transition: all 0.5s ease;
}

.catalog-prods-container .product-card-wrap-popular .open-vac:hover{
    background-color: rgba(255, 138, 0, 0.62);
    border:1px solid rgba(255, 138, 0, 0.62);
}

.product-card-wrap-popular{
    width:300px;
    height:360px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding:10px;
}

.new-prods{
    margin-top: 126px;
    display: block;
}

.new-prods .header-text{
    margin-bottom:60px;
}

.main-prods-wrapper{
    text-align:center;
}

.articul-text{
    margin-bottom: 20px;
    font-size: 14px;
    color:rgba(0, 0, 0, 0.82);
    text-decoration: none;
}

.title-name{
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto Bold";
    color:#000;
    transition:all 0.5s ease;
}

.main-prods-wrapper a{
    text-decoration: none;
}

.open-vac{
    background-color: #EE8912;
    color:#FFF;
    font-size: 16px;
    border:1px solid #EE8912;
    border-radius:10px;
    width:156px;
    height:45px;
    transition:all 0.5s ease;
}

.open-vac:hover{
    background-color: rgba(255, 138, 0, 0.62);
    border:1px solid rgba(255, 138, 0, 0.62);
}

.title-name:hover{
    color: #EE8912 !important;
}

.bx-breadcrumb .bx-breadcrumb-item span{
    font-size:18px;
    color:rgba(0, 0, 0, 1);
    font-family: 'Roboto Bold';
}

.bx-breadcrumb .bx-breadcrumb-item{
    margin-right: 5px !important;
}

.bx-breadcrumb .bx-breadcrumb-item a{
    text-decoration:none;
}

.bx-breadcrumb .bx-breadcrumb-item a span:hover{
    color: #EE8912 !important;
    cursor:pointer;
}

.bx-breadcrumb{
    margin-top: 30px !important;
}

.cat-filter-grid{
    display: grid;
    grid-template-columns: 420px 1fr;
    gap:5%;
    width:100%;
    padding-top: 30px;
}

.filter-wrapper{
    margin-top: 40px;
}

.filter-wrapper .bx-filter.bx-blue .bx-filter-section{
    background: rgba(0,0,0,0.8);
    padding-top: 5px;
}

.filter-wrapper .bx-filter .bx-filter-title{
    color:#FFF;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Bold';
    font-size: 21px;
    padding: 10px 5px;
}

.filter-wrapper .bx-filter-parameters-box-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.filter-wrapper #set_filter{
    position: relative;
    background: #F38E16;
    border-color: #F38E16;
    outline: none !important;
    box-shadow: none;
    border-radius: 5px;
    width: 120px !important;
    height: 26px !important;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px !important;
    min-height: 34px;
    font-family: 'Roboto Bold';
}

.filter-wrapper #set_filter:hover{
    background-color: rgb(255, 168, 70);
    border:1px solid rgba(255, 168, 70);
}

.filter-wrapper #del_filter{
    position: relative;
    background: linear-gradient(180deg, #F40808 0%, #B80B0B 100%);
    outline: none !important;
    border-color: #F40808 !important;
    outline: none !important;
    box-shadow: none;
    border-radius: 5px;
    width: 120px !important;
    height: 26px !important;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px !important;
    min-height: 34px;
    font-family: 'Roboto Bold';
    text-decoration: none;
}

.filter-wrapper #del_filter:hover{
    transition:all 0.7s ease;
    background: linear-gradient(180deg, #ff0000 0%, #e02727 100%);
}


/* End */
/* /bitrix/templates/ast/styles.css?162072698013732 */
