

/* Start:/bitrix/templates/ast/styles.css?16203796876336*/
@font-face {
    font-family: 'Roboto Bold';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Roboto Regular';
}

.hover-orange:hover{
    background: linear-gradient(180deg, #F38E16 0%, #B80B0B 100%);
    color:#FFF;
    border-color:linear-gradient(180deg, #F38E16 0%, #B80B0B 100%) !important;
}

.content{
    font-family: 'Roboto Regular';
    max-width:1490px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.content-menu{
    font-family: 'Roboto Regular';
    max-width:100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    height:65px;
    background: rgba(0,0,0,0.8);
}

.content-footer{
    max-width:100%;
    margin: 0 auto;
}

.header-grid{
    display:grid;
    grid-template-columns: 280px 320px 540px 1fr;

    align-items: center;
    gap: 4.4%;
}

.header-grid>div{
    justify-self: center;
}

.menu-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    height:100%;
    gap: 14%;
}
.menu-grid>div{
    white-space:nowrap;
}

.menu-grid>div>a{
  text-decoration: none;
  color:#FFFFFF;
  font-family: 'Roboto Bold';
  font-size: 24px;
  text-transform: uppercase;
}

.menu-grid>div>a:hover{
    color:#F38E16;
}


.logo-text{
    background: linear-gradient(70deg, #F38E16 14%, #F30808 30%,#F30808 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto Bold';
    font-size:21px;
    letter-spacing: 0.055rem;
    margin-top: 10px;
}

.address{
 font-family: 'Roboto Bold';
 font-size: 21px;
}

.lk{
    color:#F50707;
    font-family: 'Roboto Bold';
    font-size: 24px;
}

.search-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gray-text{
    color:rgba(0,0,0,0.63);
    font-family: 'Roboto Bold';
    font-size: 18px;
    margin-bottom: 40px;
    margin-top:15px;
    position: relative;
    top:20px;
}

.phones>a{
    font-family: 'Roboto Bold';
    font-size:22px;
    color:#000000;
    text-decoration: none;
}

.phones>a:hover{
    color:#F38E16;
}

.lk>span:hover{
    color:#F38E16;
    cursor:pointer;
}

.btn-form{
    margin-left:30px;
    width:255px;
    height:55px;
    background: linear-gradient(180deg, #F40808 0%, #B80B0B 100%);
    outline: none !important;
    border-color:#F40808 !important;
    border-radius:10px;
    color:#FFF;
    font-family: 'Roboto Bold';
    font-size: 18px;
    padding-top:12px;
}

.btn-form:hover{
    background: linear-gradient(180deg, #F38E16 0%, #B80B0B 100%);
    color:#FFF;
    border-color:linear-gradient(180deg, #F38E16 0%, #B80B0B 100%) !important;
}

.srch-input{
    margin-top:20px;
    color:rgba(0,0,0,0.54);
    font-size: 14px;
    height:50px;
}
.srch-btn{
    position: relative;
    right: 0px;
    top: -42px;
    left: 80%;
    background: #F38E16;
    border-color: F38E16;
    outline: none !important;
    box-shadow: none;
    border-radius: 5px;
    width: 90px !important;
    height: 26px !important;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px !important;
    min-height: 34px;
}

.srch-btn:hover{
    background: #F50707;
}

.top-block{
    height:116px;
    background:rgba(0,0,0,0.8);
    padding-left: 16px;
    padding-right: 16px;
    padding:20px 0;
}

.footer-grid{
    display: grid;
    grid-template-columns: 555px 1fr;
    gap:6%;
}

.footer-text{
    color:#FFF;
    font-size:21px;
}
.email-input{
    background:rgba(0,0,0,0);
    border:none;
    border-bottom:1px solid rgba(255, 255, 255,0.57);
    border-radius:0px !important;
    color:#fff !important;
    padding-left: 0px;
    width:455px;
    display:inline-block;
    margin-left: 25px;
}

.footer-form label{
    color:#c1c1c1;
    font-size:21px;
    margin-left: 25px;
}

.email-input:active, .email-input:focus{
    background:rgba(0,0,0,0);
    border:none;
    border-bottom:1px solid rgba(255, 255, 255,0.57);
    border-radius:0px !important;
    outline:none !important;
    border-color: rgba(255, 255, 255,0.57);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,0);
}

.email-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
}

.send__email-footer{
    display:inline-block;
    width:235px;
    height:65px;
    margin-left:7%;
    float:right;
    top: -29px;
    position: relative;
    background: linear-gradient(180deg, #F40808 0%, #B80B0B 100%);
    color:#FFF;
    outline: none !important;
    border-color:#F40808 !important;
    font-size:24px;
}

/* .send__email-footer:active{
    outline:none !important;
    border-color: rgba(255, 255, 255,0.57);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,0);
}

.send__email-footer:hover{
    background: #F38E16;
    color:#FFF;
    border-color:#F38E16 !important;
} */

.bottom-block{
    background:rgba(0,0,0,0.63);
    padding-left: 16px;
    padding-right: 16px;
    padding:20px 0;
    min-height:411px;
}

.footer-grid-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:6%;
}
.footer-list{
    padding:0px;
    list-style-type: none;
}

.footer-list li a{
    color:#FFF;
    text-decoration: none;
  
}

.footer-list li{
    margin:8px 0px;
}

.footer-list li a:hover{
    color:#F38E16;
    text-decoration: none;
}

.footer-list h3{
    color:#FFF;
}

.footer-grid-bottom>div{
   text-align: center;
}

.bottom-block{
    padding:40px 0px;
}
.footer-list-last{
    text-align:left;
    margin-left:140px;
}

.footer-list-last img{
    margin-right:15px;
}

.footer-list-last li{
    margin:18px 0px;
}

.main-grid{
    display:grid;
    grid-template-columns: 420px 1fr;
}

.catalog-menu{
    background: crimson;
    height:720px;
}

.banner{
    background: crimson;
    height:720px;
}
/* End */
/* /bitrix/templates/ast/styles.css?16203796876336 */
