

/* Start:/bitrix/templates/ast/styles.css?16202137202399*/
@font-face {
    font-family: 'Roboto Bold';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src:url('/bitrix/templates/ast/../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.content{
    font-family: 'Roboto Regular';
    max-width:1600px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.content-menu{
    font-family: 'Roboto Regular';
    max-width:100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    height:65px;
    background: rgba(0,0,0,0.8);
    margin-top: 23px;
}

.header-grid{
    display:grid;
    grid-template-columns: 280px 320px 540px 1fr;
    margin-top: 15px;
    align-items: center;
}

.header-grid>div{
    justify-content: center;
}

.menu-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    height:100%;
}

.menu-grid>div>a{
  text-decoration: none;
  color:#FFFFFF;
  font-family: 'Roboto Bold';
  font-size: 24px;
}

.menu-grid>div>a:hover{
    color:#F38E16;
}


.logo-text{
    background: linear-gradient(70deg, #F38E16 14%, #F30808 30%,#F30808 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto Bold';
    font-size:21px;
    letter-spacing: 0.055rem;
    margin-top: 10px;
}

.address{
 font-family: 'Roboto Bold';
 font-size: 21px;
}

.lk{
    color:#F50707;
    font-family: 'Roboto Bold';
    font-size: 24px;
}

.search-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gray-text{
    color:rgba(0,0,0,0.63);
    font-family: 'Roboto Bold';
    font-size: 18px;
}

.phones>a{
    font-family: 'Roboto Bold';
    font-size:22px;
    color:#000000;
    text-decoration: none;
}

.phones>a:hover{
    color:#F38E16;
}

.lk>span:hover{
    color:#F38E16;
    cursor:pointer;
}

.btn-form{
    margin-left:30px;
    width:255px;
    height:55px;
    background: linear-gradient(180deg, #F40808 0%, #B80B0B 100%);
    outline: none !important;
    border-color:#F40808 !important;
    border-radius:10px;
    color:#FFF;
    font-family: 'Roboto Bold';
    font-size: 18px;
    padding-top:12px;
}
/* End */
/* /bitrix/templates/ast/styles.css?16202137202399 */
